html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #000;
}

.header__img {
  width: 230px;
  margin-left: 15px;
}

/* .header__link {
  margin: 0 auto;
  width: 80px;
  border: 1px solid #D9C6B5;
  background-color: #F0F0F0;
  color: #D9C6B5;
  text-decoration: none;

  grid-column: 3;
} */

/* コンテンツ */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
}

.content__heading {
  text-align: center;
  margin-top: 60px;
  font-size: 34px;
}

/* ページネーション */
/* .pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li:not(.active) {
  border: 1px solid #E0DFDE;
  padding: 4px 12px;
}

.pagination li:not(:last-child) {
  border-right: none;
}

.pagination a {
  color: #8B7969;
  text-decoration: none;
}

.pagination__link {
  text-decoration: none;
}

.active {
  padding: 4px 12px;
  border: 1px solid #8B7969;
  background-color: #8B7969;
  color: #FFF;
} */