/* 上部リスト */
.list-menu {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.list-menu > :first-child {
    margin-left: 10vw;
}

.list-menu__recommend,
.list-menu__mylist {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    margin: 15px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.list-menu__recommend.active,
.list-menu__mylist.active {
    color: red;
}

/* 商品一覧 */

.index-contents__item {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 95vw;
    margin-bottom: 50px;
}

.item-card {
    width: 300px;
    height: 325px;
    margin: 20px;
}

.item-card__link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.item-card__img {
    width: 100%;
    height: 270px;
}

.item-card__content {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 22px;
}