.success {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: rgb(129, 215, 129);
    color: white;
    padding-left: 30px;
}

/* リスト切り替え */
.list-menu {
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.list-menu > :first-child {
    margin-left: 10vw;
}

.list-menu__recommend,
.list-menu__mylist {
    font-weight: bold;
    padding-top: 25px;
    margin: 10px 25px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.list-menu__recommend.active,
.list-menu__mylist.active {
    color: red;
}

/* 商品一覧 */

.index-contents__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1400px;
    width: 95vw;
    margin: 0 auto 50px;
    padding-top: 55px;
}

.item-card {
    width: 100%;
    height: auto;
}

.item-card__link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.item-card__img {
    width: 100%;
    height: auto;
}

.sold-item .item-card__img {
    filter: brightness(60%);
}

.item-card__content {
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.item-name{
    color: black;
    font-size: 20px;
}

.sold {
    background-color: red;
    color: white;
    font-size: 22px;
    padding: 4px 8px;
    font-weight: bold;
}
