.success {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: rgb(129, 215, 129);
    color: white;
    padding-left: 30px;
}

.mypage {
    width: 100%;
    height: auto;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
}

.mypage__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 800PX;
    margin: 30px auto;
    gap: 20px;
}

.user__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user__img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.user__name{
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
}

.user__profile-link{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 25px;
    text-decoration: none;
    white-space: nowrap;
    margin-left: auto;
}

/* リスト切り替え */
.mypage__menu {
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.mypage__menu> :first-child {
    margin-left: 10vw;
}

.list-menu__sell,
.list-menu__buy {
    font-weight: bold;
    margin: 10px 25px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.list-menu__sell.active,
.list-menu__buy.active {
    color: red;
}

/* 商品一覧 */

.mypage__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1400px;
    width: 95vw;
    padding: 55px 50px;
    box-sizing: border-box;
}

.item-card {
    width: 100%;
    height: auto;
}

.item-card__link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.item-card__img {
    width: 100%;
    height: auto;
}

.sold-item .item-card__img {
    filter: brightness(60%);
}

.item-card__content {
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.item-name {
    color: black;
    font-size: 20px;
}

.sold {
    background-color: red;
    color: white;
    font-size: 22px;
    padding: 4px 8px;
    font-weight: bold;
}

@media (max-width: 1320px) {
    .mypage__item {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .mypage__item {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .mypage__user {
        flex-direction: column;
        gap: unset;
    }

    .user__profile {
        margin-right: auto;
    }

    .user__profile-link {
        font-size: 10px;
    }

    .mypage__item {
        grid-template-columns: repeat(1, 1fr);
    }
}