.container {
    width: 100%;
}

.container-inner {
    margin: 70px auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 左側 */
.container__left {
    width: 60%;
    box-sizing: border-box;
}

/* 商品 */
.item {
    width: 100%;
    display: flex;
}

.item-image {
    width: 150px;
    margin: 0 40px 30px 0;
}

.item__img {
    width: 100%;
}

.item-detail {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.item-name {
    font-size: 23px;
    margin-bottom: 5px;
}

.item-price__number {
    font-size: 23px;
}

/* 支払方法・住所 */
.pay,
.address {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.pay-title,
.address-title {
    font-size: 16px;
}

.pay-select {
    display: block;
    width: 250px;
    padding: 2px 4px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    appearance: auto;
    margin: 50px 35px;
}

.pay-select option {
    background-color: #636769;
    color: #fff;
}

.address__head{
    display: flex;
    justify-content: space-between;
}

.address-put{
    text-decoration: none;
    color: #0c7ace;
    margin-right: 10px;
}

.address-list {
    font-weight: bold;
    margin: 35px 50px;
}

/* 右側 */
.container__right {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buy-table {
    width: 80%;
    border-collapse: collapse;
}

.td{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #000;
    padding: 22px 15px;

}

.buy-title {
    padding-right: 80px;
    white-space: nowrap;
}

.right-item__price {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.buy-button {
    width: 80%;
}

.buy-button__button {
    width: 100%;
    height: 50px;
    background-color: #ff5555;
    color: #fff;
    border-radius: 5px;
    margin-top: 50px;
}

.error-message{
    color: red;
    position: relative;
    margin-left: 35px;
    bottom: 35px;
}

/* 横幅1060px以下の設定*/
@media screen and (max-width: 1060px) {
    .td {
        display: flex;
        flex-direction: column;
    }
}

/* 横幅775px以下の設定*/
@media (max-width: 775px) {
    .container-inner {
        flex-direction: column;
        align-items: center;
        margin: 70px 30px;
    }

    .container__left,
    .container__right {
        width: 100%;
    }

    .container__right {
        margin-top: 30px;
    }

    .item {
        justify-content: center;
    }

    .item-name {
        font-size: 17px;
    }

    .pay {
        height: auto;
    }

    .pay-select {
        width: 85%;
        max-width: 250px;
        margin: 35px auto;
    }

    .error-message {
        color: red;
        position: relative;
        margin: 0 auto;
        bottom: 30px;
    }
}